<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="YQBlogEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=IT-PC1\FU_SQL;initial catalog=YQBlog;persist security info=True;user id=sa;password=future;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>